@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');

:root {
    --purple-bg: #290742; /* Cor de fundo roxa */
    --dark-bg: #170027; /* Cor de fundo escura */
    --button-bg: #9e6dc2; /* Cor de fundo do botão */
    --white: #fff; /* Cor branca */
    --light-purple: #fbf6ff; /* Cor roxa clara */
    --green: #4fff4b; /* Cor verde */
}

/* Zerar margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
}

/* Estilos para cabeçalho e conteúdo principal */
header,
main {
    padding: 3% 20%;
}

/* Estilos do cabeçalho */
header {
    background: var(--purple-bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 6px solid var(--green);
}

/* Estilos da entrada de pesquisa */
.search-input {
    display: flex;
}

.search-input input {
    width: 230px;
    height: 44px;
    padding-left: 20px;
    background-color: var(--dark-bg);
    border: none;
    border-radius: 4px 0px 0px 4px;
    color: var(--light-purple);
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--light-purple);
}

.search-input button {
    width: 70px;
    height: auto;
    background-color: var(--button-bg);
    border: none;
    border-radius: 0px 4px 4px 0px;
}

.search-input button:hover {
    background-color: #7602c9;
}

/* Estilos do cabeçalho cabecalho */
.header-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
}

.header-cabecalho ul {
    display: flex;
    gap: 32px;
    list-style: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}

.header-cabecalho a {
    text-decoration: none;
    border-left: 3px solid transparent;
    color: var(--white);
}

.header-cabecalho a:hover {
    text-decoration: none;
    border-left: 3px solid var(--green);
}

/* Estilos principal do cabeçalho */
.header-principal {
    display: flex;
}

.header-principal h1 {
    color: var(--button-bg);
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-right: 24px;
    margin-bottom: 16px;
}

.header-principal p {
    color: var(--white);
    font-family: Roboto;
    font-size: 18px;
    line-height: 27px;
    padding-right: 100px;
    margin-bottom: 24px;
}

.header-principal a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--button-bg);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    border: 3px solid transparent;
}

.header-principal a:hover {
    border-left: 3px solid var(--green);
}

/* Estilos para imagem em destaque */
.feature-image {
    float: right;
}

/* Estilos para links em seções */
section a {
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

/* Estilos da primeira seção */
.first-section {
    display: flex;
    margin-bottom: 64px;
}

.first-section h2 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.first-section p {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
}

.first-section span {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 7px;
    color: #000;
}

/* Estilos da linha horizontal */
.linha {
    border-bottom: 2px solid var(--light-purple);
    padding-bottom: 16px;
}

/* Classe para margem superior */
.mg-top {
    margin-top: 16px;
}

/* Estilos para o lado esquerdo e direito */
.left-side {
    display: flex;
    flex-direction: column;
    flex: 40%;
}

.right-side {
    display: flex;
    flex-direction: column;
    float: right;
    padding-left: 85px;
}

/* Estilos da seção de cartões */
.card-section {
    display: flex;
    gap: 30px;
}

.card-section p {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

.card-section h2 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin: 8px 0;
}
